# Geoapify API Key (required)
# Get yours at https://myprojects.geoapify.com/
GEOAPIFY_API_KEY=your api key

# User Details
USER_NAME=your name
USER_PHONE=your number

# Default Location
DEFAULT_LOCATION=location
DEFAULT_LAT=11.9416
DEFAULT_LON=79.8083
DEFAULT_RADIUS_KM=50
